{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>SBI Analytics Dashboard</title>

  <!-- CSS  -->
  <link href="{% static 'easysearch/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <link href="{% static 'easysearch/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
  <nav class="light-blue lighten-1" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="/search/" class="brand-logo">SBI</a>
    </div>
  </nav>
  
  {% block content %}
  {% endblock %}

  <!--  Scripts-->
  <script type="text/javascript" src="{% static 'easysearch/js/jquery.js' %}"></script>
  <script type="text/javascript" src="{% static 'easysearch/js/materialize.js' %}"></script>
  <script type="text/javascript" src="{% static 'easysearch/js/init.js' %}"></script>

</body>
</html>
